@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

svg {
  width: 300px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#benefits .row {
  justify-content: center;
}

#benefits2 .row {
  justify-content: center;
}

#benefits3 .row {
  justify-content: center;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.list-button {
  width: 100%;
  margin-bottom: 1rem;
}











/*---Media Queries --*/
@media (max-width: 992px) {

} 
@media (max-width: 768px) {
  .display-4 {
    font-size: 100%;
  }
  
} 
@media (max-width: 576px) {
  .display-4 {
    font-size: 160%;
  }
  
} 