/**
 * @overview default layout of ccmjs-based web component for corona list
 * @author André Kless <andre.kless@web.de.de> 2020
 */

#element {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#guest_qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  margin-bottom: 1em;
}

svg {
  width: 90vmin;
  height: 90vmin;
}

h1 {
  padding: 0.2em 0;
}

*[data-hidden] {
  visibility: hidden;
}
